<html lang="EN">

<head>
    <!-- Varela Round -->
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
</head>

<main>
    <div class="fetch-box">

        <h2> Bienvenido al restaurante </h2>

        <form action="entrada/capturar" method="post">

            <div class="form-group">
                <label>
                    Inserte plato
                    <input type="text" name="nombre" required>
                </label>
            </div>

            <input type="submit" value="escoger">

        </form>

    </div>
</main>

</html>