<?xml version="1.0" encoding="" ?>
<html xmlns:th = "http://www.thymeleaf.org" lang="EN">

<head>
    <!-- Varela Round -->
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
</head>

<body>
<div class="fetch-box">

    <h2> Plato escogido </h2>

    <div class="box-group">
        <p>
            <strong>Ingresado:</strong>
            <span th:text="${mensaje}"></span>
        </p>
    </div>
    <form action="/back" method="get">
        <input type="submit" value="back to the fetcher">
    </form>
</div>
</body>

</html>